Veo_31_Video_NEORA.json
{
  "name": "Veo 3.1 Video - NEORA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "veo-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "Webhook Generate Veo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-832, -96],
      "webhookId": "veo-video"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\nconst imageUrl = input.image_url || '';\nconst animationStyle = input.animation_style || 'zoom_in';\nconst duration = input.duration || '8s';\nconst resolution = input.resolution || '720p';\nconst customPrompt = input.custom_prompt || '';\nconst generateAudio = input.generate_audio !== false;\n\nif (!imageUrl) throw new Error('Missing image_url');\n\n// Prompts optimisés pour Veo 3.1\nconst stylePrompts = {\n  'zoom_in': 'Slow cinematic zoom in on the subject, smooth professional camera movement, studio lighting, high-end product showcase, 4K quality',\n  'zoom_out': 'Slow cinematic zoom out revealing the full scene and context, smooth dolly movement, professional cinematography',\n  'pan_left': 'Smooth horizontal camera tracking shot from right to left, cinematic dolly movement, professional lighting',\n  'pan_right': 'Smooth horizontal camera tracking shot from left to right, cinematic dolly movement, professional lighting',\n  'float': 'Gentle floating motion with subtle vertical movement, dreamy atmosphere, soft bokeh background, ethereal quality',\n  'rotate': 'Slow orbital camera movement rotating 360 degrees around the subject, smooth steady motion, professional turntable effect',\n  'sparkle': 'Magical particle effects and light sparkles appearing around the subject, enchanting golden glow, premium product reveal',\n  'reveal': 'Dramatic product reveal with volumetric light rays, lens flare effects, premium cinematic showcase, luxury feel',\n  'breathe': 'Subtle breathing pulsation effect, gentle living photograph style, minimal movement, artistic and elegant',\n  'custom': customPrompt || 'Cinematic professional motion, smooth camera movement, high quality'\n};\n\nconst prompt = stylePrompts[animationStyle] || stylePrompts['zoom_in'];\n\n// Veo 3.1 accepte: 4s, 6s, 8s\nlet veoDuration = duration;\nif (!veoDuration.endsWith('s')) veoDuration = veoDuration + 's';\nif (!['4s', '6s', '8s'].includes(veoDuration)) veoDuration = '8s';\n\n// Resolution: 720p ou 1080p\nconst veoResolution = ['720p', '1080p'].includes(resolution) ? resolution : '720p';\n\nreturn {\n  image_url: imageUrl,\n  prompt: prompt,\n  duration: veoDuration,\n  resolution: veoResolution,\n  generate_audio: generateAudio,\n  animation_style: animationStyle\n};"
      },
      "id": "a1b2c3d4-0002-4000-a000-000000000002",
      "name": "Format Veo Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-608, -96]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3.1/image-to-video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key fe2232cd-be9e-411f-9e5b-4e88bfcb3930:4539ba5f78d39afecdf730b00b3cba10"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"image_url\": \"{{ $json.image_url }}\",\n    \"duration\": \"{{ $json.duration }}\",\n    \"aspect_ratio\": \"auto\",\n    \"resolution\": \"{{ $json.resolution }}\",\n    \"generate_audio\": {{ $json.generate_audio }},\n    \"auto_fix\": true\n  }\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-a000-000000000003",
      "name": "Submit to Veo 3.1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-384, -96]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\n\nif (!r.request_id) {\n  throw new Error('No request_id received from FAL: ' + JSON.stringify(r));\n}\n\nreturn {\n  request_id: r.request_id,\n  status_url: r.status_url || '',\n  response_url: r.response_url || '',\n  status: 'processing'\n};"
      },
      "id": "a1b2c3d4-0004-4000-a000-000000000004",
      "name": "Extract Request ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-176, -96]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"processing\",\n  \"request_id\": \"{{ $json.request_id }}\",\n  \"model\": \"veo3.1\",\n  \"message\": \"Veo 3.1 video generation started. Use /veo-status to check progress.\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-a000-000000000005",
      "name": "Respond with Request ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [64, -96]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "veo-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-a000-000000000006",
      "name": "Webhook Status Veo",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-832, 224],
      "webhookId": "veo-status"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\nconst requestId = input.request_id;\n\nif (!requestId) {\n  throw new Error('Missing request_id');\n}\n\nreturn { request_id: requestId };"
      },
      "id": "a1b2c3d4-0007-4000-a000-000000000007",
      "name": "Extract Status Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-608, 224]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://queue.fal.run/fal-ai/veo3.1/image-to-video/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key fe2232cd-be9e-411f-9e5b-4e88bfcb3930:4539ba5f78d39afecdf730b00b3cba10"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0008-4000-a000-000000000008",
      "name": "Check FAL Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-384, 224]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-a000-000000000009",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-176, 224]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://queue.fal.run/fal-ai/veo3.1/image-to-video/requests/{{ $('Extract Status Request').item.json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key fe2232cd-be9e-411f-9e5b-4e88bfcb3930:4539ba5f78d39afecdf730b00b3cba10"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-a000-000000000010",
      "name": "Get Video Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [64, 112]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst requestId = $('Extract Status Request').item.json.request_id;\n\nlet videoUrl = '';\n\nif (data.video && data.video.url) {\n  videoUrl = data.video.url;\n} else if (data.output && data.output.video && data.output.video.url) {\n  videoUrl = data.output.video.url;\n} else if (data.data && data.data.video && data.data.video.url) {\n  videoUrl = data.data.video.url;\n} else if (data.url) {\n  videoUrl = data.url;\n}\n\nif (!videoUrl) {\n  throw new Error('Could not find video URL in Veo response: ' + JSON.stringify(data).substring(0, 500));\n}\n\nreturn {\n  success: true,\n  status: 'completed',\n  video_url: videoUrl,\n  model: 'veo3.1',\n  request_id: requestId\n};"
      },
      "id": "a1b2c3d4-0011-4000-a000-000000000011",
      "name": "Extract Video URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, 112]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": {{ $json.success }},\n  \"status\": \"{{ $json.status }}\",\n  \"video_url\": \"{{ $json.video_url }}\",\n  \"model\": \"{{ $json.model }}\",\n  \"request_id\": \"{{ $json.request_id }}\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0012-4000-a000-000000000012",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 112]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"status\": \"{{ $json.status }}\",\n  \"model\": \"veo3.1\",\n  \"request_id\": \"{{ $('Extract Status Request').item.json.request_id }}\",\n  \"message\": \"Veo 3.1 video still processing\"\n}",
        "options": {}
      },
      "id": "a1b2c3d4-0013-4000-a000-000000000013",
      "name": "Respond Processing",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [64, 336]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Generate Veo": {
      "main": [
        [{ "node": "Format Veo Request", "type": "main", "index": 0 }]
      ]
    },
    "Format Veo Request": {
      "main": [
        [{ "node": "Submit to Veo 3.1", "type": "main", "index": 0 }]
      ]
    },
    "Submit to Veo 3.1": {
      "main": [
        [{ "node": "Extract Request ID", "type": "main", "index": 0 }]
      ]
    },
    "Extract Request ID": {
      "main": [
        [{ "node": "Respond with Request ID", "type": "main", "index": 0 }]
      ]
    },
    "Webhook Status Veo": {
      "main": [
        [{ "node": "Extract Status Request", "type": "main", "index": 0 }]
      ]
    },
    "Extract Status Request": {
      "main": [
        [{ "node": "Check FAL Status", "type": "main", "index": 0 }]
      ]
    },
    "Check FAL Status": {
      "main": [
        [{ "node": "Is Completed?", "type": "main", "index": 0 }]
      ]
    },
    "Is Completed?": {
      "main": [
        [{ "node": "Get Video Result", "type": "main", "index": 0 }],
        [{ "node": "Respond Processing", "type": "main", "index": 0 }]
      ]
    },
    "Get Video Result": {
      "main": [
        [{ "node": "Extract Video URL", "type": "main", "index": 0 }]
      ]
    },
    "Extract Video URL": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "800e9db063e02a73882ef1153702703b459a83607f86ecd249b9703a9a98ad37"
  },
  "tags": []
}
